<!-- background-color: #1976d2; -->
<app-header></app-header>
<!--main site content -->
<div class="container main">

    <!--banner-->
    <div class="jumbotron">
        <div class="container text-center">
            <img src="../assets/Viviane.jpeg" alt="Viviane Tekam picture" class="img img-fluid">
          <h1 class="display-4">Tekam Nana Viviane</h1>
          <h4 class="fw-bold">Comptable Contrôleur Interne</h4>
          <p class="lead">Je suis un comptable auditeur compétent et expérimenté, doté de solides valeurs professionnelles et de qualités essentielles pour ce poste.</p>
          <p class="actions">
            <button class="btn btn-secondary mx-2">Experience</button>
            <button class="btn btn-secondary">Mon CV</button>
          </p>
        </div>
    </div>

    <!--Experiences section -->
    <div class="row experiences" id="experience">
        <h2 class="display-4 text-center">Experiences</h2>
        <div class="exp-details col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../assets/totem-logo.jpeg" class="card-img-top" alt="Logo totem SA">
            
                <div class="card-body">
                  <h5 class="card-title">Gestionnaire de projet, Comptable et Contrôleur Interne Junior</h5>
                  <h6 class="period">de sept. 2021 à ce jour</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            
        </div>

        <div class="exp-details col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/ict-logo.jpeg" alt="Logo ict4u">

                <div class="card-body">
                  <h5 class="card-title">Coordinatrice des Projets Digitaux</h5>
                  <h6 class="period">de févr. 2022 à mai 2022</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="exp-details col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../assets/ifa-logo.jpg"  class="card-img-top"  alt="Logo IFA cameroon">
                <div class="card-body">
                  <h5 class="card-title">Assistante de Direction</h5>
                  <h6 class="period">de oct. 2020 à juil. 2021</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="exp-details col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="../assets/logo-cami.jpeg" class="card-img-top"  alt="Logo cami toyote">
                <div class="card-body">
                  <h5 class="card-title">Stagiaire Contrôleur - Interne</h5>
                  <h6 class="period">de juin 2019 à août 2019</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>

    <!--Competences section -->
    <div class="row competences " id="#competences">
        <h2 class="display-4 text-center">Competences</h2>

        <div class="col-lg-3">
            <h5>Comptabilite</h5>
            <ul class="">
                <li>Sage </li>
                <li>Odoo</li>
                <li>Sage </li>
                <li>Odoo</li>
            </ul>
        </div>

        <div class="col-lg-3">
            <h5>Gestion de projet</h5>
            <ul class="">
                <li>Sage </li>
                <li>Sage </li>
                <li>Odoo</li>
                <li>Sage </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h5>Analyse de donnees</h5>
            <ul class="">
                <li>Sage </li>
                <li>Odoo</li>
                <li>Sage </li>
                <li>Odoo</li>
            </ul>
        </div>

        <div class="col-lg-3">
            <h5>Secretariat Bureautique</h5>
            <ul class="">
                <li>Sage </li>
                <li>Odoo</li>
                <li>Sage </li>
                <li>Odoo</li>
            </ul>
        </div>
       
    </div>
<!--https://www.adamjurgens.com/-->
    <!--Education section -->
    <div class="row education" id="#education">
        <h2 class="display-4 text-center">Education</h2>
        <div class="col-lg-6">
            <div class="edu-section">
                <h3 class="display-5">Universite de Dschang</h3>
                <h5>Master Professionnel: Comptabilité  Contrôle Audit</h5>
                <p>Sept. 2019 - Juil. 2021 </p>
            </div>
            <div class="edu-section">
                <h3 class="display-5">Universite de Dschang</h3>
                <h5>Licence Professionnelle : Finance et Comptabilité</h5>
                <p>Oct-2016 - juin 2019| Mention </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="../assets/logo-univ.jpeg" alt="University of Dschang logo" class="img img-fluid">
            <img src="../assets/img-univ.jpeg" alt="University of Dschang image" class="img img-fluid">
        </div>
    </div>



    <!--contact section-->
    <div class="row contact" id="#contact">
        <h2 class="display-4 text-center">Me Contacter</h2>
        <ul class="socials">
            <li>
                <i class=""></i>
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>

            <li>
                <i class=""></i>
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>

            <li>
                <i class=""></i>
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>
        </ul>
    </div>
</div>


<!--end main site content-->
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
